body{
  margin:0px;
  padding:0px;
}
.header{
  background:#2C3742;
  height:50px;
}
.nav{
  margin-left:200px;
}
.nav li{
  display:inline-block;
  line-height:50px;
  height:50px;
  color:#fff;
  /* 一亮一暗border实现3D分隔符效果  */
  border-left:1px solid #161f29;/* 暗色边框 */
	border-right:1px solid #45505a; /* 亮色边框 */
	margin:0px;
  
  padding:0px 10px;
  
  float:left;
  
}

/* 第一个li补前面的亮色边框 */
.nav li:first-child{
       -moz-box-shadow:-1px 0px 2px #45505a; 
    -webkit-box-shadow:-1px 0px 2px #45505a; 
            box-shadow:-1px -0px 2px #45505a;
}

/* 第一个li补后面的暗色边框 */
.nav li:last-child{
       -moz-box-shadow:1px 0px 2px #161f29; 
    -webkit-box-shadow:1px 0px 2px #161f29; 
            box-shadow:1px -0px 2px #161f29;
}

/* 鼠标悬停变色 */
.nav li:hover{
	background: #161d23;
}